.startup-loading-box {
  width: 50%;
  position: absolute;
  top: 20%;
}

.loading-label {
  padding: 4%;
  margin: 4%;
}

@media only screen and (max-width: 800px) {

  .startup-loading-box {
    width: 80%;
  }

}
