.add-new-asset-row {
  margin: 1%;
  width: 95%;
  height: 5%;
  justify-content: space-between;
}

.add-new-asset-button {
  width: 10%;
  height: 90%;
  margin-left: 15%;
  font-weight: bold;
}

.show-configs-window-button {
  width: 10%;
  height: 90%;
  fill: darkslategrey;
}
