.startup-login-box {
  padding: 5%;
  margin: 3%;
  width: 60%;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  top: 15%;
}

.import-box {
  width: 100%;
  height: 100%;
}

.import-text-area {
  width: 95%;
  margin: 2%;
  height: 90px;
}

.import-box--controls {
  width: 100%;
}

.import-box--control {
  width: 20%;
}

.agree-with-policy--box {
  padding-bottom: 2%;
}
