.button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #3e3e3e;
  box-shadow: 1px 1px 3px 0 #3e3e3e;
  border-radius: 3px;
  font-weight: 500;
}

.button:hover {
  opacity: 0.8;
}

.button:active {
  opacity: 0.5;
}
