.text-label {
  cursor: default;
}

input.invalid {
    border: dashed #D00000;
}

.pad {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 3px 0 #6f9f98;
  border-radius: 4px;
  opacity: 0.9;
}

.pad:hover {
  opacity: 1;
  box-shadow: 2px 2px 5px 2px #6f9f98;
}

.pad:active {
  opacity: 0.9;
}

.flex-box {
  display: flex;
  justify-content: space-evenly;
}

.flex-box-centered {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.flex-direction-column {
  flex-direction: column;
}

.flex-direction-row {
  flex-direction: row;
}

.flex-centered {
  align-items: center;
}

.border-themed-color {
  background-color: #2e3532;
}

.background-themed-color {
  background-color: #35605a;
}

.layer-1-themed-color {
  background-color: #6f9f98;
}

.layer-2-themed-color {
  background-color: #8cbeb7;
}

.layer-3-themed-color {
  background-color: #a9ddd6;
}

.clickable {
  cursor: pointer;
}

.application {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: space-evenly;
}
