.border-themed-color {
    background-color: #2e3532;
}

.background-themed-color {
    background-color: #35605a;
}

.layer-1-themed-color {
    background-color: #6f9f98;
}

.layer-2-themed-color {
    background-color: #8cbeb7;
}

.layer-3-themed-color {
    background-color: #a9ddd6;
}

.startup-login-box {
    width: 70%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.create-wallet-box {
    width: 90%;
    height: 30%;
}

.import-wallet-box {
    width: 90%;
    height: 30%;
}

.App {
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: space-evenly;
}

.startup-loading-box {
    width: 50%;
}


.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
