.application-box {
  width: 100%;
  height: 100%;
  justify-content: space-between;
}

.new-asset-title,
.new-asset-choose-title {
  height: 5%;
  width: 90%;
}

.new-asset-controls-box {
  height: 90%;
  width: 90%;
}

.new-asset-window {
  width: 60%;
  height: 60%;
  left: 20%;
  top: 10%;
}

.new-asset-choose-box {
  width: 40%;
  height: 100%;
}

.new-asset-choose-buttons {
  width: 100%;
  height: 85%;
  flex-wrap: wrap;
}

.new-asset-choose-select-box {
  width: 100%;
  height: 10%;
}

.new-asset-choose-button {
  height: 40%;
  width: 30%;
}

.new-asset-choose-button-image-icon {
  width: 100%;
}

.new-asset-choose-button-image-text {
  width: 100%;
  font-size: 350%;
  background-color: #F6AE2D;
  border-radius: 47%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-flow: column;
}

.new-asset-choose-button-image {
  width: 90%;
}

.new-asset-integration {
  width: 100%;
  height: 30%;
}

.new-asset-integration-logo {
  width: 60%;
  border-radius: 5px;
  padding: 3%;
}

.new-asset-integration-logo--binance {
  fill: #f3ba2f;
  background-color: black;
}

.new-asset-integration-logo--qmall {
  background-color: #33323e;
}

.new-asset-integration-logo--monobank {
  fill: #f6f6f6;
  background-color: black;
  padding: 2%;
}

.assets-panel {
  width: 30%;
  height: 100%;
  justify-content: flex-start;
}

.asset-row {
  margin: 1%;
  width: 95%;
  height: 10%;
  flex-wrap: wrap;
}

.asset-row:hover {
  opacity: 0.8;
}

.asset-row-controls {
  width: 15%;
}

.asset-row-controls-button {
  width: 45%;
}

.asset-row-button-accept:hover {
  background-color: #9fec4e;
}

.asset-item-value {
  width: 40%;
}

.asset-item-value-input,
.asset-item-value input {
  text-align: center;
  border-style: solid;
  border-color: #8da7be;
  border-width: 2px;
  outline: none;
  width: 90%;
  padding: 2% 0;
  border-radius: 4px;
  overflow: hidden;
}

.asset-item-value-input:disabled,
.asset-item-value input:disabled {
  background-color: #F0F8FF;
}

.asset-item-value-input:focus,
.asset-item-value input:focus {
  border-style: dashed;
}

.asset-item-value-input:active,
.asset-item-value input:active {
  border-style: solid;
  border-color: #4f5a6b;
}

.asset-item-value-input--invalid input,
.asset-item-name-input--invalid {
  border: dashed #D00000;
}

.add-new-asset-row {
  margin: 1%;
  width: 95%;
  height: 5%;
}

.add-new-asset-button {
  width: 10%;
  margin-left: 25%;
}

.asset-item-name-label {
  width: 15%;
}

.asset-item-name-row {
  width: 100%;
  height: 35%;
}

.asset-item-name-input {
  width: 60%;
  height: 90%;
}

.asset-item-name {
  width: 40%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.startup-login-box {
  width: 70%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.startup-login-box-button {
  width: 90%;
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: space-evenly;
}

.startup-loading-box {
  width: 50%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
