.application-box {
  width: 100%;
  height: 100%;
  justify-content: space-between;
}

.assets-panel {
  padding: 0.5% 0.5% 0.5% 1%;
  width: 35%;
  height: 100%;
  justify-content: flex-start;
  overflow-y: auto;
}
