.asset-item-buttons-container--integration-logo--wide {
  width: 7%;
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
  cursor: default;
  font-family: 'Lucida Console', monospace;
  fill: #2D3142;
  height: 100%;
}

.asset-item-buttons-container--integration-logo--wide:hover {
  width: 30%;
  display: flex;
}

.asset-item-buttons-container--integration-logo--wide:hover .asset-item-buttons-container--integration-name {
  display: flex;
  padding: 0 4%;
}

.asset-item-buttons-container--integration-logo--wide:hover .asset-item-buttons-container--integration-logo--short {
  display: none;
}


.asset-item-buttons-container--integration-name {
  display: none;
}


.asset-item-buttons-container--integration-logo--container {
  display: flex;
  justify-content: flex-end;
}

.asset-item-buttons-container--integration-logo--short {
  width: 100%;
  height: 100%;
  border-radius: 15%;
}

@media only screen and (max-width: 1100px) {

  .asset-item-buttons-container--integration-logo--wide {
    width: 9%;
  }
}

@media only screen and (max-width: 970px) {

  .asset-item-buttons-container--integration-logo--wide {
    width: 10%;
    min-width: 7%;
  }
}

@media only screen and (max-width: 800px) {

  .asset-item-buttons-container--integration-logo--wide {
    width: 8%;
  }

  .asset-item-buttons-container--integration-logo--short {
    width: 60%;
  }

}

@media only screen and (max-width: 700px) {

  .asset-item-buttons-container--integration-logo--wide {
    width: 7%;
    min-width: 9%;
  }

  .asset-item-buttons-container--integration-logo--short {
    width: 60%;
  }

}

