
.asset-item-buttons-container--integration-logo--monobank:hover {
    fill: #f6f6f6;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 5px;
    padding: 0 1%;
    display: flex;
    width: 30%;
}
